.page {
  min-height: 100svh;
}

.main {
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  padding: 80px;
  gap: 64px;
}

@media (max-width: 600px) {
  .main {
    padding: 32px;
    padding-bottom: 80px;
  }
}

